<module>
	<rawname>polycomphones</rawname>
	<repo>standard</repo>
	<name>Polycom Phones</name>
	<version>16.0.0</version>
	<publisher>Techie Networks Inc</publisher>
	<license>GPLv2+</license>
	<category>Connectivity</category>
	<menuitems>
		<polycomphones>Polycom Phones</polycomphones>
	</menuitems>
	<description>Adds configurations, options and GUI for Polycom phones</description>
	<changelog>
		*16.0.0* FreePBX 16 support
		*14.0.0* FreePBX 14 support
		Forked from Excalibur Partners.
	</changelog>
	<depends>
		<version>16.0.0</version>
	</depends>
</module>
